[include]
  path = ~/git-delta/themes.gitconfig

[user]
  name = Patrick Carton
  email = patrick.d.carton@gmail.com

[init]
  defaultBranch = main

[column]
  ui = auto

[branch]
  sort = -committerdate

[tag]
  sort = version:refname

[pull]
  rebase = false

[push]
  default = simple
  autoSetupRemote = true
  followTags = true

[core]
  pager = delta
  editor = hx

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true    # use n and N to move between diff sections
  side-by-side = true
  features = tangara-chilensis

[merge]
  conflictstyle = diff3

[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true

[help]
  autocorrect = prompt
