[include]
  path = ~/git-delta/themes.gitconfig

[user]
  name = Patrick Carton
  email = patrick.d.carton@gmail.com

[init]
  defaultBranch = main

[column]
  ui = auto

[branch]
  sort = -committerdate

[tag]
  sort = version:refname

[pull]
  rebase = false

[push]
  default = simple
  autoSetupRemote = true
  followTags = true

[core]
  compression = 9
  whitespace = error
  preloadindex = true
  pager = delta
  editor = hx

[status]
  branch = true
  showStash = true
  showUntrackedFiles = all

[interactive]
  diffFilter = delta --color-only
  singlekey = true

[delta]
  navigate = true    # use n and N to move between diff sections
  side-by-side = true
  features = tangara-chilensis

[merge]
  conflictstyle = diff3

[diff]
  algorithm = histogram
  colorMoved = plain
  context = 3
  renames = copies
  mnemonicPrefix = true
  renames = true

[help]
  autocorrect = prompt

[url "git@github.com:pcarton/"]
  insteadOf = "pcarton:"

[url "git@github.com"]
  insteadOf = "gh:"
