[include]
  path = ~/git-delta/themes.gitconfig

[user]
# Please adapt and uncomment the following lines:
  name = Patrick Carton
  email = patrick.d.carton@gmail.com 

[pull]
  rebase = false

[push]
  autoSetupRemote = true

[core]
  pager = delta
  editor = hx

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true    # use n and N to move between diff sections
  side-by-side = true
  features = tangara-chilensis
[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default
