layout {
  default_tab_template {
    pane size=1 borderless=true {
      plugin location="zellij:tab-bar"
    }
    children
    pane size=2 borderless=true {
      plugin location="zellij:status-bar"
    }
  }

  tab name="Scratch" {
    pane name="Shell" borderless=true
  }
  tab name="Quad" focus=true {
    pane split_direction="horizontal" {
      pane split_direction="vertical" {
        pane focus=true
        pane
      }
      pane split_direction="vertical" {
        pane
        pane
      }
    }
  }
  tab name="Monitor" {
    pane borderless=true {
      command "btm"
    }
  }
}