layout {
  default_tab_template {
    pane size=1 borderless=true {
      plugin location="zellij:tab-bar"
    }
    children
    pane size=2 borderless=true {
      plugin location="zellij:status-bar"
    }
  }

  tab name="Scratch" {
    pane name="shell" {
      borderless true
    }
  }
  tab name="Editor" focus=true {
    pane split_direction="vertical" {
      pane name="helix"{
        command "hx" 
        args "."
        borderless true
        size "60%"
      }
      pane split_direction="horizontal" {
        pane name="git" {
          command "gitui"
        }
        pane name="mprocs" {
          cwd "hugo"
          command "mprocs"
          args "--" "hugo server -D" "cd ..; act -W .github/workflows/spellcheck.yaml --container-architecture linux/amd64"
       }
      }
    }
  }
  tab name="Frogmouth" {
    pane {
      cwd "hugo/content"
      command "frogmouth"
      args "."
    }
  }
}
